<html>
    <head>
        <title>Restaurant List</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>
    <body class=" text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
            <header class="mb-auto">
            <div>
            <h3 class="float-md-start mb-0">MasterChef</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
            </nav>
            </div>
            </header>
            <h1>餐廳列表</h1>
            {% comment %} <p>{{ path }}</p> {% endcomment %}
            <div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column">
            <form action='/menu/' method='get'>
            <table class="table align-middle text-white" >
                <thead>
                    <tr>
                        <th>選擇</th>
                        <th>名稱</th>
                        <th>電話</th>
                        <th>地址</th>
                        <th>評價</th>
                    </tr>
                </thead>
                {% for r in restaurants %}
                <tbody>
                <tr>
                    {% comment %} <td><input type='radio' name='rname' value='{{r.name}}'></td> {% endcomment %}
                    <td><a href='/menu/?rname={{r.name}}'>選取</td>
                    <td>{{r.name}}</td>
                    <td>{{r.phone_number}}</td>
                    <td>{{r.address}}</td>
                    <td><a href='/comment/?rname={{r.name}}'>評論</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            <input type='submit' value='觀看Menu'>
            </form>
            </div>
            {% comment %} {% for food in r.food_set.all%}
            <h3>第{{forloop.counter}}道菜</h3>
            <ul>
                <li>名稱：{{food.name}}</li>
                <li>價格：{{food.price}}</li>
                <li>評價：{{food.comment}}</li>
                <li>庫存：{% if food.avalible %} 有 {% else %} 無 {% endif %}</li>
            </ul>
            {% endfor %} {% endcomment %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        
    </body>

</html>

